.article-info {
  text-align: right;
  font-size: em-calc(12);
}

.cancel-link {
  padding: 0.875rem 1.75rem 0.9375rem;
  font-size: 0.8125rem;
}

.article-title {
  text-align: center;
}

.article-text {
  font-size: em-calc(18);
}
